EbookLib
Flask
Pillow
PyPDF2
Pygments
anthropic
beautifulsoup4
bypy
chardet
deepseek
instructor
markdownify
mss
nltk
numpy
openai
opencv-python
openpyxl
pandas
lxml
defusedxml
paramiko
pdfplumber
python-docx
python-pptx
ebooklib
prompt_toolkit
psutil
baidu-aip
pvrecorder
pyautogui
pycryptodome
pygame
pypinyin
pytesseract
python-dateutil
python-docx
python-dotenv
python-pptx
pyttsx3
redis
redisvl
requests>=2.32.0
requests-toolbelt
rtf-converter
schedule
scikit-learn
scipy
scrapy
tabulate
tkinterdnd2
tqdm
twisted>=24.7.0rc1
watchdog
zvec
websockets
pypdf
reportlab
