EbookLib
Flask
Pillow
PyPDF2
Pygments
anthropic
azure-cognitiveservices-speech
beautifulsoup4
chardet
deepseek
instructor
markdownify
mss
nltk
numpy
openai
opencv-python
openpyxl
pandas
paho-mqtt
paramiko
pdfplumber
prompt_toolkit
psutil
pvporcupine
pvrecorder
pyautogui
pycryptodome
pygame
pypinyin
pytesseract
python-dateutil
python-docx
python-dotenv
python-pptx
pyttsx3
redis
redisvl
requests>=2.32.0
rtf-converter
schedule
scikit-learn
scipy
scrapy
tabulate
tkinterdnd2
tqdm
twisted>=24.7.0rc1
vosk
watchdog
